.GradientBorder {
  position: relative;
  width: 12vw;
  height: 12vw;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  background: #020117;
  cursor: pointer;
  border-bottom-left-radius: 23px;
  border-top-right-radius: 23px;
  @media screen and (max-width: 480px) {
    width: 21vw;
    height: 21vw;
  }
  &:hover {
    box-shadow: 0px 0px 30px 5px rgba(76, 24, 135, 0.9);
  }
}

.GradientBorder::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(45deg, #082399, #4292cc, #ec6acc, #e808b6);
  z-index: -1;
  border-bottom-left-radius: 23px;
  border-top-right-radius: 23px;
  margin-bottom: -50px;
}
.GradientBorder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #082399, #4292cc, #ec6acc, #e808b6);
  z-index: -2;
  filter: blur(40px);
  border-bottom-left-radius: 23px;
  border-top-right-radius: 23px;
}

.nameBorder {
  position: relative;
  width: fit-content;
  height: 50px;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  background: transparent;
  cursor: pointer;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-bottom-left-radius: 23px;
  border-top-right-radius: 23px;
}
