.footer {
    height: 15vh; 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    padding-top: 25px;
    margin-top: 50px;
}

.contacts {
    display: inline-block;
    margin-left: 35vw; 
    margin-right: 10vw;
}

.socials {
    display: inline-block;
}