.footer {
  height: 9vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  margin-top: 50px;
}

.contacts {
  display: inline-block;
  margin-right: 30px;
}

.socials {
  display: inline-block;
}
