body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Sugo';
  src: local('SugoProClassic-Regular'),
    url(./fonts/SugoProClassic-Regular.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'SugoExtraLight';
  src: local('SugoExtraLight'),
    url(./fonts/Sugo_ExtraLightTrial.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SugoProDisplay';
  src: local('SugoProDisplay-Regular'),
    url(./fonts/SugoProDisplay-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SugoLight';
  src: local('SugoProClassic-Light'),
    url(./fonts/SugoProClassic-Light.woff2) format('woff2');
  font-display: swap;
}
